Package: mdebian-fonts
Version: 1.1
Section: admin
Priority: optional
Architecture: all
Depends: fontconfig-config
Maintainer: Michaël Roy <microygh@gmail.com>
Description: Custom system font configuration
